/***** FONTS *****/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/***** ALL *****/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/***** SECTION MAIN *****/

.main {
    background-color: #1D2437;
    background-image: url("../img/bg.png");
}

.main .container {
    max-width: 1070px;
    margin: auto;
    color: #fff;
}

.main .container header {
    padding-top: 45px;
}

.main .container .hero-area {
    display: flex;
}

.main .container .hero-area .leftside {
    flex: 1;
}

.main .container .hero-area .leftside h1 {
    font-weight: bold;
    font-size: 41px;
    line-height: 50px;
    margin: 80px 0 20px 0;
}

.main .container .hero-area .leftside .subtitle {
    font-size: 16px;
    line-height: 23px;
    color: #999;
    margin-bottom: 20px;
}

.main .container .hero-area .leftside .form {
    margin-bottom: 20px;
}

.main .container .hero-area .leftside .form input {
    border: 1px solid #ffffff66;
    background: transparent;
    height: 40px;
    outline: none;
    color: #fff;
    font-size: 14px;
    width: 300px;
    padding: 0 10px;
}

.main .container .hero-area .leftside .form button {
    height: 40px;
    border: 0;
    background-color: #0071B7;
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    margin-left: 10px;
    cursor: pointer;
}

.main .container .hero-area .leftside .form button:hover {
    opacity: .7;
}

.main .container .hero-area .leftside .techs {
    margin-bottom: 80px;
}

.main .container .hero-area .leftside .techs img {
    margin-right: 10px;
}

.main .container .hero-area .rightside {
    background-image: url("../img/hero.png");
    flex: 1;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: bottom;
}


/***** SECTION INFO *****/
.info {
    height: 80px;
    border-bottom: 2px solid #EAEEF1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-texto {
    font-weight: bold;
    font-size: 16px;
    color: #C2C8CB;
    margin: 0 10px;
}

.info-circle {
    width: 6px;
    height: 6px;
    background: #C2C8CB;
    border-radius: 50%;
    margin: 0 10px;
}


/***** SECTION INSTRUCTIONS *****/
.instructions .inst-container {
    margin: auto;
    max-width: 910px;
    padding: 60px 0;
}

.instructions .inst-container .inst-item {
    border-left: 3px solid #ECF0F3;
    display: flex;
}

.instructions .inst-container .inst-item:last-child {
    border: 0;
}

.instructions .inst-container .inst-item .inst-circle {
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background-color: #0071B7;
    margin-left: -10px;
}

.instructions .inst-container .inst-item .inst-text {
    flex: 1;
    margin-left: 50px;
}

.instructions .inst-container .inst-item .inst-text h2 {
    font-size: 32px;
    color: #000;
    margin: -10px 0 0 0;
    
}

.instructions .inst-container .inst-item .inst-text p {
    font-size: 16px;
    line-height: 23px;
    color: #777;
    margin-bottom: 70px;
}

.instructions .inst-container .inst-item:last-child .inst-text p {
    margin: 0;
}


/***** SECTION CTA *****/
.cta {
    background-color: #1D2437;
    border-bottom: 2px solid #333;
}

.cta .cta-container {
    margin: auto;
    max-width: 800px;
    display: flex;
    padding: 100px 0;
    color: #fff;
}

.cta .cta-container .cta-left {
    flex: 1;
    margin-right: 30px;
}

.cta .cta-container .cta-left h2 {
    font-size: 40px;
    margin: 0;
}

.cta .cta-container .cta-left p {
    font-size: 18px;
    line-height: 25px;
    color: #777;
}

.cta .cta-container .cta-right {
    flex: 1;
    margin-left: 30px;
}

.cta .cta-container .cta-right input {
    border: 1px solid #ffffff66;
    background: transparent;
    height: 40px;
    outline: none;
    color: #fff;
    font-size: 14px;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.cta .cta-container .cta-right button {
    height: 40px;
    border: 0;
    background-color: #0071B7;
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
    width: 100%;
}

.cta .cta-container .cta-right button:hover {
    opacity: .7;
}


/***** FOOTER *****/
footer {
    background-color: #1D2437;
    color: #fff;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 40px 0;
    max-width: 1070px;
}

footer .footer-container .footer-right {
    font-size: 16px;
    color: #777;
    text-align: right;
    line-height: 25px;
}

footer .footer-container .footer-right a {
    color: #777;
    text-decoration: none;
}

footer .footer-container .footer-right a:hover {
    text-decoration: underline;
}

/***** RESPONSIVENESS *****/
@media (max-width: 1030px) {
    .main .container {
        padding: 0 20px;
    }

    footer .footer-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 900px) {
    .main .container .hero-area {
        flex-direction: column-reverse;
    }

    .main .container .hero-area .leftside h1 {
        margin-top: 0;
        text-align: center;
    }

    .main .container .hero-area .leftside .subtitle {
        text-align: center;
    }

    .main .container .hero-area .leftside .form input {
        width: 100%;
        margin-bottom: 20px;
    }

    .main .container .hero-area .leftside .form button {
        width: 100%;
        margin: 0;
    }

    .main .container .hero-area .leftside .techs {
        text-align: center;
    }

    .main .container .hero-area .rightside {
        height: 400px;
        flex: none;
        background-size: auto 100%;
        background-position-x: center;
    }

    .main .container .hero-area .rightside .rightside-linear {
        background: linear-gradient(360deg, #1D2437 8.92%, rgba(29, 36, 55, 0) 65.85%);
        height: 100%;
        width: 100%;
    }

    .info {
        display: none;
    }

    .instructions .inst-container .inst-item {
        margin: 0 50px;
    }

    .cta .cta-container {
        flex-direction: column;
        margin: 0 30px;
    }

    .cta .cta-container .cta-left {
        margin: 0;
        text-align: center;
        margin-bottom: 30px;
    }

    .cta .cta-container .cta-right {
        margin: 0;
    }

    footer .footer-container {
        flex-direction: column;
    }

    footer .footer-container .footer-left {
        margin-bottom: 30px;
    }
}